.alert{
    position: relative;
    background: #ddd;
    /*border: 1px solid darken(#ddd, 10%);*/
    border: 1px solid lightgrey;
    padding: 1em;
}

.Alert--Success{
    /*
    background: lighten(green, 70%);
    border: 1px solid lighten(green, 30%);
    */
    background: green;
    border: 1px solid green;
}

.Alert--Error{
    /*
    background: lighten(red, 70%);
    border: 1px solid lighten(red, 30%);
    */
    background: red;
    border: 1px solid red;
}

.Alert__close{
    position: absolute;
    top: 1em;
    right: 1em;
    font-weight: bold;
    cursor: pointer;
}